# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env

# Database
db/*.sqlite
backend/db/*.sqlite

# Node
node_modules/
frontend/dist/
frontend/sites/*/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Synology
@eaDir/
#recycle/
.Caddyfile.swp

# NAS specifiek
gitea-data/
docker-compose.yml
Caddyfile
backend/db/homeplatform.sqlite
backend/db/homeplatform.sqlite
backend/db/homeplatform.sqlite-journal
uploads/
