# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env

# Database (lokaal)
db/*.sqlite

# Node
node_modules/
+frontend/sites/*/dist/

# VS Code (persoonlijk)
.vscode/settings.json

# OS
.DS_Store
Thumbs.db
backend/db/*.sqlite

gitea-data/
.Caddyfile.swp
@eaDir/
#recycle/
backend/db/*.sqlite
docker-compose.yml